@tailwind base;
@tailwind components;
@tailwind utilities;

pre, code {
  font-family: var(--font-firamono);
}

p > code {
  background: #dbdbdb;
  border-radius: 5px;
  padding: 3.5px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 10px;
}

a {
  text-decoration: underline;
}

blockquote {
  margin-top: 15px;
  padding: 15px;
  background-color: #ceffe7;
  border-radius: 5px;
}